* {
    font-family: Lato;
}

#bootstrap-override .bold-text {
    font-weight: bold;
}

div#bootstrap-override a:visited, div#bootstrap-override a:active, div#bootstrap-override a:link {
    text-decoration: none;
    color:#d41b2c;
}

#bootstrap-override .sidebar{
    margin: 0;
    padding: 0;
    width: 75px;
    text-align: center;
}

#bootstrap-override .avatar {
    overflow: hidden;
    border-radius: 100%;
    border: 2px solid gray;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}

#bootstrap-override .avatar-nav{
    overflow: hidden;
    border-radius: 100%;
    border: 2px solid gray;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}

#bootstrap-override .menu-item {
    box-sizing:content-box;
    display:table-cell;
    width:100%;
    min-width: 75px;
    max-width: 85px;
    padding:0;
    margin:0;
}

#bootstrap-override .selected-menu-item {
    background-color: white;
}

#bootstrap-override .selected-menu-text {
    color:#d41b2c !important;
}

#bootstrap-override .menu-list {
    list-style-type: none;
    background-color: #000000;
    display: flex;
    height: 100%; 
    position: fixed;
    min-width: 75px;
    max-width: 85px;
    text-align: center;
    top: 0;
    left: 0;
    margin:0;
    padding:0;
}

#bootstrap-override .nav-menu-list {
    list-style-type: none;
    background-color: #000000;
    display: flex;
    height: 100%; 
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    margin:0;
    padding:0;
}

#bootstrap-override .asdf {
    transform: translate3d(0, 0, 0);
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

#bootstrap-override .menu-icon {
    width: 26px;
    display: inline-block;
    fill:#d41b2c;
    vertical-align: middle;
}

#bootstrap-override .fa-icon {
    color:#d41b2c;
    display: inline-block;
    vertical-align: middle;
}

#bootstrap-override .logo {
    text-align:center;
    height: 75px;

}

#bootstrap-override .menu-text {
    text-align:center;
    color:white;
    font-size: 14px;
    padding:0;
    margin:0;
}


#bootstrap-override .menu-text:hover{
    text-decoration: none;
}

#bootstrap-override .option-list {
    list-style-type: none;
    padding:0;
    margin:0;
}

#bootstrap-override .options {
    min-width: 175px;
    max-width: 175px;
}

#bootstrap-override .option-text {
    color:#d41b2c;
    padding:5px;
    text-decoration: none;
}

#bootstrap-override .option-text:hover {
    text-decoration: underline;
}

#bootstrap-override .option-text-selected {
    color: black !important;
    font-weight: bold;
}

#bootstrap-override .option-item-selected {
    border-left: 2px solid #2d3b45;
    border-radius: 0px;
}

#bootstrap-override .menu-link {
    position: relative;
    display: block;
    border-style: none;
    width: 100%;
    height:100%;
    padding: 5px 0 5px 0;
}

#bootstrap-override .borgar {
    max-width: 50px;
    padding:3px 0 3px 0;
    margin:0;
}

#bootstrap-override .profile-header {
    padding:20px 0px 20px 0px;
    margin-left:5px;
}

#bootstrap-override .profile-header-2{
    border-bottom: 1px solid #c7cdd1;
}

#bootstrap-override .header-text{
    font-size:20px;
}

#bootstrap-override .profile-picture {
    overflow: hidden;
    border-radius: 100%;
    border: 2px solid gray;
    height:200px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}

#bootstrap-override .btn-border{
    border: 1px solid;
    border-color: #c7cdd1;
    border-radius: 3px;
}

#bootstrap-override .input-one-line {
    width: 500px;
    height: 38px;
    display: block;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    outline-color: transparent;
    padding: 8px 12px;
    border-color: #d8e0e6;
    outline-style: solid;
    outline-width: 12px;
}

#bootstrap-override .input-drop-down {
    width: 250px;
    height: 38px;
    display: block;
    box-shadow: none;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    outline-color: transparent;
    outline-offset: -12px;
    background: #fff;
    padding: 8px 12px;
    border-color: #d8e0e6;
    outline-style: solid;
    outline-width: 12px;
}

#bootstrap-override .top-pad{
    padding-top:20px;
}

#bootstrap-override .center{
    text-align: center;
}

#bootstrap-override .profile-footer{
    margin-top:10px;
    padding-top: 10px;
    padding-bottom:20px;
    border-top: 1px solid #c7cdd1;
}

#bootstrap-override .dashboard-title {
    font-size: 32px;
    padding-left:0;
}

#bootstrap-override .dashboard-published {
    font-size: 24px;
}

#bootstrap-override .course {
    width:270px;
    margin:15px 30px 15px 0;
}

#bootstrap-override .card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    color:#2d3b45;
    white-space: nowrap;
}

#bootstrap-override .card-body {
    display: inline-block;
}

#bootstrap-override .card-text {
    color:#677179;
}

#bootstrap-override .card-subtext {
    color:#677179;
    font-size:12px;
}

#bootstrap-override .course-card-header-1 {
    box-sizing: border-box;
    height: 150px;
    border: 1px solid rgba(0,0,0, .1);
    background-color: rgb(37, 66, 132);
}

#bootstrap-override .course-card-header-2 {
    box-sizing: border-box;
    height: 150px;
    border: 1px solid rgba(0,0,0,.1);
    background-color: rgb(180, 20, 20);
}

#bootstrap-override .course-card-header-3 {
    box-sizing: border-box;
    height: 150px;
    border: 1px solid rgba(0,0,0,.1);
    background-color: rgb(225, 0, 255);
}

#bootstrap-override .course-header-button {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 36px;
    height: 36px;
    border:none;
}

#bootstrap-override .module-header {
    border-bottom: 1px solid #c7cdd1;
}

#bootstrap-override .top-bar {
    background:#000000;
    height:100px;
}

#bootstrap-override .navbar#bootstrap-override .navbar-inverse #bootstrap-override .navbar-header{
    display: block;
    text-align:center;
    float: none;
}

#bootstrap-override .subtext {
    font-size: 0.6875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#2d3b45;
}

#bootstrap-override .default-color {
    color:#000000 !important;
}

#bootstrap-override .breadcrumb-divide {
    --bs-breadcrumb-divider: '>';
}
